RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
NEXT_PUBLIC_RAZORPAY_KEY_ID=
MONGODB_URI=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=
ADMIN_SECRET=
AUTH_SECRET=
RAZORPAY_WEBHOOK_SECRET=
NEXT_PUBLIC_SITE_URL=
